.azure*.yml
.codeclimate.yml
.eslint*
.git*
.prettier*
.scannerwork/
.vscode/
*.code-workspace
*.config.js
*.map
*.spec.*
coverage
docs/
junit.xml
node_modules/
patches/
sonar-project.properties
src/
stats.json
test/
tsconfig*.json
util/
webpack.config.js
yarn.lock