.azure*.yml
.codeclimate.yml
.eslint*
.git*
.pnp.js
.prettier*
.scannerwork/
.vscode/
.yarn/
.yarnrc.yml
*.code-workspace
*.config.js
*.map
*.spec.*
coverage
docs/
junit.xml
node_modules/
patches/
scripts/
sonar-project.properties
src/
stats.json
test/
tsconfig*.json
webpack.config.js
yarn.lock